.vfp-fcard1 {
    background: $white;
    padding: 10px;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 3px;
    }

    label {
        font-family: $vodafonrg-bold;
        font-size: 15px;
        line-height: 18px;
    }
}

.vfp-fcard2 {
    background: $white;
    padding: 10px;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 3px;
    }

    label {
        font-family: $vodafonrg-regular;
        font-size: 16px;
        line-height: 18px;
    }

    .cont-sec {
        width: 100%;
        text-align: center;
    }

    .active {
        border: 2px solid $primary
    }
}

.vfp-bund-card {
    display: -webkit-box;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:-0.25px;

    .vfp-fcard3 {
        background: $white;
        border: 1px solid $secondary;
        border-radius: 6px;
        flex: 1 0 48%;

        .fcard3_cont { 
            padding: 5px;
            display: flex;
            text-align: center;
           img {
                width: 25px;
            }
            label {
                font-size: 15px;
                padding: 0px 10px;
                line-height: 15px;
            }
        }
    }
}

.vfp-prod-card {
    display: -webkit-box;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:-0.25px;

    .vfp-fcard4 {
        background: $white;
        border-radius: 6px;
        flex: 1 0 48%;

        .fcard4_cont { 
            padding: 8px;
            text-align: center;
            .fcard4_title {
                font-size: 14px;
                line-height: 14px;
                font-family: $vodafonrg-bold;
                color: $dark-green;
            }
            .fcard4_support_txt
            {
                font-size: 12px;
                line-height: 14px;
                font-family: $vodafonrg-regular;
            }
        }
        .fcard_disabled
        {
            label
            {
                color: #CCCCCC !important;
                cursor: none;
            }
        }

    }
}

// styles for buy bundles start
.vfp-summary-card {
    background: $white;
    border-radius: 6px;
    padding: 15px;
    text-align: center;

    .vfp-heading
    {
        font-family: $vodafonrg-bold;
        font-size: 14px;
        line-height: 16px;
        color: $dark-green;
    }
    .vfp-sub-title
    {
        font-size: 12px;
        line-height: 12px;
        margin-top: 8px;
    }
    .vfp-support
    {
        color: $placeholder;
        font-size: 12px;
        line-height: 14px;
        margin-top: 4px;
    }
}

.vfp-comp-text
{
    margin-top: 20px;
    .row1
    {
        display: flex;
        justify-content: space-between;
    }
    .row2
    {
        display: flex;
        justify-content: space-between;
        margin-top: 6px;
        font-family: $vodafonrg-bold;
        font-size: 16px;
        line-height: 18px;
    }
    .row3
    {
        display: flex;
        justify-content: space-between;
        margin: 6px 0px;
    }
    .row4
    {
        display: flex;
        justify-content: space-between;
        margin-top:6px;
    }
    .row5
    {
        margin: 16px 0px;
        text-align: center;
        button
        {
            width: 100%;
        }
    }
    
}
// styles for buy bundles end

// success page styles start
.vfp-success
{
    text-align: center;
    .success_title
        {
            margin-top: 16px;
        }
        .success-button
        {
            margin-top: 10px;
            button
            {
                width: 100%;
            }
        }
    .success-image
    {
        margin-top: 16px;
        img{
            width: 31px;
        }
        .success_title
        {
            margin-top: 16px;
            font-size:16px;
            line-height: 18px;
        }
    }
    .success-details
    {
        .row1
        {
            font-family: $vodafonrg-bold;
            margin-top: 18px;
        }
        .row2
        {
            margin-top: 14px;
            font-size: 16px;
            line-height: 18px;
        }
        .row3
        {
            margin-top: 4px;
        }
        .row4
        {
            margin-top: 10px;
        }
    }
}
// success page styles end 