//Forms
.input-comp{
    text-align: center;
.form-control {
    font-size: 15px;
    line-height: 15px;
    border-radius: 0px;
    @extend %white-bg;
    border:.5px solid $border;
    height: 46px;
    padding-top: 6px;
    @extend %vodafonrg-regular;
    position: relative;
    max-width: 140px;
    margin: 0 auto;
    border: 0px;
    border-bottom: 1px solid $border;
    border-radius: 0px;
    &:focus {
        border-color: $border;
        @extend %white-bg;
    }
    &:disabled,
    &.disabled,
    &[readonly] {
        background: $white;
        color: $dark-gray;
        border-color:$border;
    }
    &.error{
        border-color: $primary;
        background-image: url(../images/error_red.svg);
        background-repeat: no-repeat;
        background-position: 98% center;
        background-size: 40px;
    }
}
}
.form-control:focus-visible{outline:0px;}

//Placeholder
::placeholder {
    color: $placeholder;
    opacity: 1;
    @extend %vodafonrg-regular;
}

 .input-bas-comp{
    label{
        font-size: 15px;
        line-height: 15px;
    }
 }

 .input-group-comp{
    position: relative;
    text-align: center;
    span{
        font-size: 15px;
        background: transparent;
        border-top: 0px;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 1px solid $dark-gray;
        border-radius: 0px !important;
        margin: 11px 0px;
        padding-right:4px;
        position: absolute;
        bottom: 0px;
    }
    .form-control{
        font-size: 15px;
        line-height: 15px;
        background:transparent;
        border-top:0px;
        border-right:0px;
        border-left:0px;
        border-bottom: 1px solid $border;
        border-radius: 0px !important;
        @extend %vodafonlg-light;
        padding-left:40px;
    }
    .form-control:focus{
        border-bottom: 1px solid $primary;
        box-shadow: 0px;
        background: transparent;
    }
 }

/*form-switch-comp*/
.form-switch-comp{
    display: flex;
}

.dropdown-comp{
    font-family: $vodafonlt-light;
    width: 70%;
    .list{display: flex; justify-content: space-between; padding:10px 25px 0px 25px;}
    .btn.show{
        color: $fuldark-gray !important;
        background-color:$white !important;
        border-color: $white !important;       
    }
    .btn-secondary{
        font-size:15px;
        line-height: 15px;
        color: $fuldark-gray !important;
        background-color:$white !important;
        border-color: $white !important;
        width:100%;
        height:49px;
    }
    .dropdown-menu-dark{
        background:$white !important;
        width:100%;
        border-radius:6px;
        padding:0px;
    }
    .dropdown-item{
        font-size: 15px;line-height: 15px;
        color:$fuldark-gray;
        padding: 0px;
    }
    .dropdown-item:active{ background-color: transparent !important;}
    .dropdown-item.active{font-family: $vodafonrg-bold;background-color: #CCCCCC !important;padding:15px 25px;}
    .dropdown-item:hover{color:$fuldark-gray;}
    .check-icon{
        align-items: center;
        padding:10px 25px;
        img{height:31px; width:31px;}
    }
    .delete-icon{
        padding:10px 35px;
        align-items: center;
        img{width:24px; height:24px;cursor: pointer;}
    }
}
.drop-down-bg{
    background: rgba(0, 0, 0, 0.26);
    height: 100%;
    width: 100%;
    z-index: 99;
    position:absolute;
    top: 0px;
}

.vfp-dropdown{
    .form-select{width:100%;background:$white;margin-top:5px;padding:10px;border:0px solid #000;border-radius:6px;}
    label{font-size:16px;line-height:18px;}
}