@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@font-face {
  font-family: "VodafoneLt-Regular";
  src: url("fonts/VodafoneLt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "VodafoneRg-Regular";
  src: url("fonts/VodafoneRg-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "VodafoneExB-Regular";
  src: url("fonts/VodafoneExB-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "VodafoneRg-Bold";
  src: url("fonts/VodafoneRg-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.input-group-comp .form-control {
  font-family: "VodafoneLt-Regular", Arial, Helvetica, sans-serif;
}

::-moz-placeholder {
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
}

:-ms-input-placeholder {
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
}

::placeholder, .input-comp .form-control, .primary_14 {
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
}

.section_title, .primary_16, .h1-heading, .control-label, .primary-font, .hyperlink, .custom_btn {
  font-family: "VodafoneRg-Bold", Arial, Helvetica, sans-serif;
}

.primary_color, .error_msg, .hyperlink:hover, .hyperlink {
  color: #E60000;
}

a:hover, a, body, .secondary_color {
  color: #333333;
}

.custom_btn_primary:disabled, .custom_btn_primary.disabled, .custom_btn_primary:hover, .custom_btn_primary, .custom_btn.disabled:hover, .custom_btn:disabled:hover, .custom_btn.disabled, .custom_btn:disabled {
  color: #FFFFFF;
}

.primary_bg, .custom_btn_primary:hover, .custom_btn_primary {
  background: #E60000;
}

.right_side_modal .modal_fixed_footer .fixed_footer_container, .right_side_modal .modal-dialog .modal-content, .full_modal .modal-dialog .modal-content, .bottom_modal .modal-dialog .modal-content, .custom_modal .modal-dialog .modal-content, .input-comp .form-control:focus, .input-comp .form-control, .white_bg {
  background: #FFFFFF;
}

/*ka-st*/
/*input text arrows*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*ka-end*/
.custom_btn {
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid;
  text-align: center;
  padding: 10px 20px;
  height: 24px;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 100px;
  position: relative;
  white-space: nowrap;
}
.custom_btn::after {
  transition: all 0.3s;
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.5s;
  transform-origin: top left;
  width: 0;
}
.custom_btn::before, .custom_btn::after {
  content: "";
  position: absolute;
  z-index: 0;
  background: rgba(0, 0, 0, 0.05);
}
.custom_btn:hover::after {
  height: 100%;
  width: 135%;
}
.custom_btn.disabled, .custom_btn:disabled {
  background: #DFDFE1;
  border-color: #DFDFE1;
  cursor: auto;
}
.custom_btn.disabled:hover, .custom_btn:disabled:hover {
  background: #DFDFE1;
  border-color: #DFDFE1;
}
.custom_btn .icon img {
  width: 16px;
}
.custom_btn .icon + span {
  padding-left: 8px;
  margin-left: 4px;
}
.custom_btn span {
  display: inline-block;
  white-space: nowrap;
}
.custom_btn span + .icon {
  padding-left: 8px;
  margin-left: 4px;
}
.custom_btn.btn_block {
  display: flex;
  width: 100%;
}
.custom_btn.custom_btn_sm {
  height: 30px;
  font-size: 11px;
  padding: 6px 18px;
}

.custom_btn_primary {
  border-color: #E60000 !important;
}
.custom_btn_primary:hover {
  border-color: #E60000 !important;
}
.custom_btn_primary:disabled, .custom_btn_primary.disabled {
  background: #DFDFE1;
  border-color: #DFDFE1 !important;
}

.custom_btn_primary_outline {
  background: transparent;
  border: 1px solid #666666 !important;
  border-radius: 6px;
  padding: 5px 13px;
  color: #666666;
}
.custom_btn_primary_outline:hover {
  background: transparent;
  border: 1px solid #333333 !important;
  color: #333333;
}

.hyperlink {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.hyperlink:hover {
  text-decoration: none;
}
.hyperlink:hover img {
  -webkit-animation: slide1 0.8s ease-in-out infinite;
          animation: slide1 0.8s ease-in-out infinite;
}
.hyperlink .icon img {
  width: 16px;
}
.hyperlink .icon + span {
  padding-left: 8px;
  margin-left: 4px;
}
.hyperlink span {
  display: inline-block;
  white-space: nowrap;
}
.hyperlink span + .icon {
  padding-left: 8px;
  margin-left: 4px;
}
.hyperlink.hyperlink_sm {
  font-size: 12px;
}
.hyperlink.disabled, .hyperlink:disabled {
  color: #DFDFE1;
}
.hyperlink.disabled:hover, .hyperlink:disabled:hover {
  color: #DFDFE1;
}

.backbtn-comp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.backbtn-comp .back_btn {
  height: 30px;
  width: 65px;
  line-height: 19px;
  text-align: center;
}
.backbtn-comp label {
  font-family: "VodafoneRg-Bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  line-height: 30px;
}

@-webkit-keyframes slide1 {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, 0);
  }
}

@keyframes slide1 {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, 0);
  }
}
.btn-link-blk a {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  text-decoration: underline !important;
}
.btn-link-blk a:hover {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}

p, ul {
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 50px;
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  line-height: 60px;
}

h2 {
  font-size: 28px;
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
  line-height: 34px;
}

h3 {
  font-size: 24px;
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
  letter-spacing: 1.2px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 26px;
}

h5 {
  font-size: 18px;
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 24px;
}

.font10 {
  font-size: 10px;
}

.font12 {
  font-size: 12px;
}

.font13 {
  font-size: 13px;
}

.font-reg14 {
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif !important;
  font-size: 14px;
}

.font15 {
  font-size: 15px;
}

.font16 {
  font-size: 16px;
}

.control-label {
  font-size: 12px;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #666666;
}

.h1-heading {
  font-size: 30px;
}

.primary_16 {
  font-size: 16px;
}

.primary_14 {
  font-size: 14px;
}

.section_title {
  font-size: 24px;
  max-height: 30px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  max-width: 100%;
}

.section_title_light {
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif !important;
  font-size: 20px;
}

.support_text {
  font-size: 14px;
  color: #666666;
}

.error_msg {
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.amount_stripe {
  color: #AAAAAA;
  font-size: 12px;
  text-decoration: line-through;
}

.numb-text {
  font-size: 20px;
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
  color: #333333;
  line-height: 22px;
  letter-spacing: 0.5;
}

.cont-heading {
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  letter-spacing: 1.2px;
}

@media (max-width: 992px) {
  .cont-heading {
    font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
    letter-spacing: 0.5px;
  }
}
@media (max-width: 374.98px) {
  .section_title {
    font-size: 18px;
    max-height: 44px;
  }
}
.light_black_color {
  color: #CCCCCC;
}

.dark_gray_color {
  color: #333333;
}

.blue_gray_color {
  color: #666666;
}

.dark_gray_color1 {
  color: #AAAAAA;
}

.dark_gray_color2 {
  background: #F2F2F2;
}

.light_gray_bg {
  background: #E0E0E0 !important;
}

.dark_green {
  color: #2FB650 !important;
}

.input-comp {
  text-align: center;
}
.input-comp .form-control {
  font-size: 15px;
  line-height: 15px;
  border-radius: 0px;
  border: 0.5px solid #CCCCCC;
  height: 46px;
  padding-top: 6px;
  position: relative;
  max-width: 140px;
  margin: 0 auto;
  border: 0px;
  border-bottom: 1px solid #CCCCCC;
  border-radius: 0px;
}
.input-comp .form-control:focus {
  border-color: #CCCCCC;
}
.input-comp .form-control:disabled, .input-comp .form-control.disabled, .input-comp .form-control[readonly] {
  background: #FFFFFF;
  color: #333333;
  border-color: #CCCCCC;
}
.input-comp .form-control.error {
  border-color: #E60000;
  background-image: url(../images/error_red.svg);
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: 40px;
}

.form-control:focus-visible {
  outline: 0px;
}

::-moz-placeholder {
  color: #AAAAAA;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #AAAAAA;
  opacity: 1;
}

::placeholder {
  color: #AAAAAA;
  opacity: 1;
}

.input-bas-comp label {
  font-size: 15px;
  line-height: 15px;
}

.input-group-comp {
  position: relative;
  text-align: center;
}
.input-group-comp span {
  font-size: 15px;
  background: transparent;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 1px solid #333333;
  border-radius: 0px !important;
  margin: 11px 0px;
  padding-right: 4px;
  position: absolute;
  bottom: 0px;
}
.input-group-comp .form-control {
  font-size: 15px;
  line-height: 15px;
  background: transparent;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #CCCCCC;
  border-radius: 0px !important;
  padding-left: 40px;
}
.input-group-comp .form-control:focus {
  border-bottom: 1px solid #E60000;
  box-shadow: 0px;
  background: transparent;
}

/*form-switch-comp*/
.form-switch-comp {
  display: flex;
}

.dropdown-comp {
  font-family: "VodafoneLt-Regular", Arial, Helvetica, sans-serif;
  width: 70%;
}
.dropdown-comp .list {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px 0px 25px;
}
.dropdown-comp .btn.show {
  color: #666666 !important;
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
}
.dropdown-comp .btn-secondary {
  font-size: 15px;
  line-height: 15px;
  color: #666666 !important;
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  width: 100%;
  height: 49px;
}
.dropdown-comp .dropdown-menu-dark {
  background: #FFFFFF !important;
  width: 100%;
  border-radius: 6px;
  padding: 0px;
}
.dropdown-comp .dropdown-item {
  font-size: 15px;
  line-height: 15px;
  color: #666666;
  padding: 0px;
}
.dropdown-comp .dropdown-item:active {
  background-color: transparent !important;
}
.dropdown-comp .dropdown-item.active {
  font-family: "VodafoneRg-Bold", Arial, Helvetica, sans-serif;
  background-color: #CCCCCC !important;
  padding: 15px 25px;
}
.dropdown-comp .dropdown-item:hover {
  color: #666666;
}
.dropdown-comp .check-icon {
  align-items: center;
  padding: 10px 25px;
}
.dropdown-comp .check-icon img {
  height: 31px;
  width: 31px;
}
.dropdown-comp .delete-icon {
  padding: 10px 35px;
  align-items: center;
}
.dropdown-comp .delete-icon img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.drop-down-bg {
  background: rgba(0, 0, 0, 0.26);
  height: 100%;
  width: 100%;
  z-index: 99;
  position: absolute;
  top: 0px;
}

.vfp-dropdown .form-select {
  width: 100%;
  background: #FFFFFF;
  margin-top: 5px;
  padding: 10px;
  border: 0px solid #000;
  border-radius: 6px;
}
.vfp-dropdown label {
  font-size: 16px;
  line-height: 18px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px !important;
  position: relative;
}

.body_container {
  max-width: 480px;
  margin: 0px auto;
  min-height: 100vh;
  padding: 0px 15px;
  background: #FFFFFF;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}
a:hover {
  text-decoration: none !important;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gap-3 {
  margin: 0px 10px;
}

.flex1 {
  flex: 1;
}

.height_100 {
  height: 100%;
}

.nowrap {
  white-space: nowrap;
}

/*margins*/
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-160 {
  margin-top: 160px;
}

.mr-auto {
  margin-right: auto;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-auto {
  margin-left: auto;
}

.ml-15 {
  margin-left: 15px;
}

/*padding*/
.pt-70 {
  padding-top: 70px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-76 {
  padding-bottom: 76px;
}

.mt-60 {
  margin-top: 60px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.vfp-d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.me-1 {
  margin-right: 0.25rem !important;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.dark_green {
  color: #2FB650;
}

/*resend-opt-row*/
.resend-opt-row {
  font-family: "VodafoneLt-Regular", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resend-opt-row a {
  font-family: "VodafoneLt-Regular", Arial, Helvetica, sans-serif;
  color: #E60000;
  margin-left: 15px;
}

/*Refresh comp*/
.vfp-refresh {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vfp-refresh img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

/*page nav comp*/
.vfp-pagination {
  background: #FFFFFF;
  padding: 10px;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vfp-pagination .dflex-pgnav-pev {
  display: flex;
  justify-content: start;
  align-items: center;
}
.vfp-pagination .dflex-pgnav-pev .img-right {
  margin-left: 10px;
}
.vfp-pagination .dflex-pgnav-pev .img-left {
  margin-right: 10px;
}
.vfp-pagination .dflex-pgnav-next {
  display: flex;
  justify-content: start;
  align-items: center;
}
.vfp-pagination .dflex-pgnav-next .img-right {
  margin-left: 10px;
}
.vfp-pagination .dflex-pgnav-next .img-left {
  margin-right: 10px;
}
.vfp-pagination .vfp-pnav-cont {
  color: #CCCCCC;
}
.vfp-pagination .active {
  color: #E60000;
  fill: #E60000;
}

/*vfp-login-flow*/
.vfp-login-flow label {
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
  font-size: 20px !important;
  color: #E60000 !important;
  line-height: 22px;
}

.p-note {
  width: 100%;
  text-align: center;
  font-family: "VodafoneLt-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

/* Page Title Start */
.pagetitle {
  font-size: 16px;
  line-height: 18px;
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
}

/* Page Title End*/
/*lange*/
.lang-select .activ {
  border-color: #E60000;
  color: #E60000;
}
.lang-select select:focus-visible {
  border-color: #E60000;
}

.error-mes {
  font-family: "VodafoneLt-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #E60000;
  margin-top: 4px;
}

.login-cont-sec {
  text-align: center;
}
.login-cont-sec p {
  font-family: "VodafoneLt-Regular", Arial, Helvetica, sans-serif;
}

.notecls img {
  width: 51px;
  height: 51px;
}
.notecls p {
  font-family: "VodafoneLt-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.listitem ol {
  font-family: "VodafoneLt-Regular", Arial, Helvetica, sans-serif;
  padding: 0px 10px;
}
.listitem ol li {
  margin-bottom: 0px;
  padding: 0px 10px 5px 10px;
  text-align: left;
}

/* Components */
.vfp_main_header {
  font-family: "VodafoneLt-Regular", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 12px 0px 10px 0px;
}
.vfp_main_header img {
  width: 24px;
  height: 24px;
}
.vfp_main_header label {
  margin: 0px;
  padding: 0px;
  color: #333333;
}
.vfp_main_header select {
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding: 1px 3px;
  background: #FFFFFF;
  border: 1px solid #333;
  border-radius: 4px;
}
.vfp_main_header select option {
  color: #E60000;
  background: #FFFFFF;
}

.fixed_footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}
.fixed_footer .fixed_footer_container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  margin: 0px auto;
  max-width: 480px;
}
.fixed_footer .footer-btn {
  font-size: 14px;
  line-height: 12px;
  background: #FFFFFF;
  padding: 8px 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex: 1 0 31%;
  border: 1.5px solid #333333;
  border-bottom: 0px;
  text-align: center;
  cursor: pointer;
}
.fixed_footer .footer-btn:hover {
  border: 1.5px solid #E60000;
  border-bottom: 0px;
  color: #E60000;
}
.fixed_footer .footer-btn.active {
  border: 1.5px solid #E60000;
  border-bottom: 0px;
  color: #E60000;
}

@media (min-width: 768px) {
  .fixed_footer {
    left: 0px;
  }
  .fixed_footer .fixed_footer_container {
    max-width: 500px;
  }
}
.vfp-fcard1 {
  background: #FFFFFF;
  padding: 10px;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vfp-fcard1 p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 3px;
}
.vfp-fcard1 label {
  font-family: "VodafoneRg-Bold", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
}

.vfp-fcard2 {
  background: #FFFFFF;
  padding: 10px;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vfp-fcard2 p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 3px;
}
.vfp-fcard2 label {
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}
.vfp-fcard2 .cont-sec {
  width: 100%;
  text-align: center;
}
.vfp-fcard2 .active {
  border: 2px solid #E60000;
}

.vfp-bund-card {
  display: -webkit-box;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -0.25px;
}
.vfp-bund-card .vfp-fcard3 {
  background: #FFFFFF;
  border: 1px solid #333333;
  border-radius: 6px;
  flex: 1 0 48%;
}
.vfp-bund-card .vfp-fcard3 .fcard3_cont {
  padding: 5px;
  display: flex;
  text-align: center;
}
.vfp-bund-card .vfp-fcard3 .fcard3_cont img {
  width: 25px;
}
.vfp-bund-card .vfp-fcard3 .fcard3_cont label {
  font-size: 15px;
  padding: 0px 10px;
  line-height: 15px;
}

.vfp-prod-card {
  display: -webkit-box;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -0.25px;
}
.vfp-prod-card .vfp-fcard4 {
  background: #FFFFFF;
  border-radius: 6px;
  flex: 1 0 48%;
}
.vfp-prod-card .vfp-fcard4 .fcard4_cont {
  padding: 8px;
  text-align: center;
}
.vfp-prod-card .vfp-fcard4 .fcard4_cont .fcard4_title {
  font-size: 14px;
  line-height: 14px;
  font-family: "VodafoneRg-Bold", Arial, Helvetica, sans-serif;
  color: #2FB650;
}
.vfp-prod-card .vfp-fcard4 .fcard4_cont .fcard4_support_txt {
  font-size: 12px;
  line-height: 14px;
  font-family: "VodafoneRg-Regular", Arial, Helvetica, sans-serif;
}
.vfp-prod-card .vfp-fcard4 .fcard_disabled label {
  color: #CCCCCC !important;
  cursor: none;
}

.vfp-summary-card {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 15px;
  text-align: center;
}
.vfp-summary-card .vfp-heading {
  font-family: "VodafoneRg-Bold", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #2FB650;
}
.vfp-summary-card .vfp-sub-title {
  font-size: 12px;
  line-height: 12px;
  margin-top: 8px;
}
.vfp-summary-card .vfp-support {
  color: #AAAAAA;
  font-size: 12px;
  line-height: 14px;
  margin-top: 4px;
}

.vfp-comp-text {
  margin-top: 20px;
}
.vfp-comp-text .row1 {
  display: flex;
  justify-content: space-between;
}
.vfp-comp-text .row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  font-family: "VodafoneRg-Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}
.vfp-comp-text .row3 {
  display: flex;
  justify-content: space-between;
  margin: 6px 0px;
}
.vfp-comp-text .row4 {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}
.vfp-comp-text .row5 {
  margin: 16px 0px;
  text-align: center;
}
.vfp-comp-text .row5 button {
  width: 100%;
}

.vfp-success {
  text-align: center;
}
.vfp-success .success_title {
  margin-top: 16px;
}
.vfp-success .success-button {
  margin-top: 10px;
}
.vfp-success .success-button button {
  width: 100%;
}
.vfp-success .success-image {
  margin-top: 16px;
}
.vfp-success .success-image img {
  width: 31px;
}
.vfp-success .success-image .success_title {
  margin-top: 16px;
  font-size: 16px;
  line-height: 18px;
}
.vfp-success .success-details .row1 {
  font-family: "VodafoneRg-Bold", Arial, Helvetica, sans-serif;
  margin-top: 18px;
}
.vfp-success .success-details .row2 {
  margin-top: 14px;
  font-size: 16px;
  line-height: 18px;
}
.vfp-success .success-details .row3 {
  margin-top: 4px;
}
.vfp-success .success-details .row4 {
  margin-top: 10px;
}

.custom_modal .modal-dialog {
  max-width: 400px;
  top: 50%;
  transform: translate(0, -50%) !important;
  margin: 12px auto;
}
.custom_modal .modal-dialog .modal-content {
  border-radius: 12px;
  width: 100%;
  padding: 24px 40px 24px 40px;
  box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.16);
  border: 0px;
}
.custom_modal .modal-dialog .modal-content .red_close {
  border: none;
  background: transparent;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -10px;
  right: -10px;
}
.custom_modal .modal-dialog .modal-content .red_close img {
  width: 30px;
}
.custom_modal .modal-dialog .modal-content .modal-body {
  padding: 0px;
}

.bottom_modal .modal-dialog {
  max-width: 480px;
  width: auto;
  margin: 0px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 0px;
  top: auto;
  transform: translate(-50%, 0) !important;
}
.bottom_modal .modal-dialog .modal-content {
  width: 100%;
  padding: 24px 16px 30px 16px;
  border-radius: 0px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border: 0px;
  position: relative;
}
.bottom_modal .modal-dialog .modal-content .modal-body {
  padding: 0px;
}
.bottom_modal .modal-dialog .modal-head {
  position: relative;
  padding: 0px 15px 24px 15px;
}
.bottom_modal .modal-dialog .modal-head button {
  background: transparent;
  border: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  padding: 0px;
}
.bottom_modal .modal-dialog .modal-head button img {
  width: 24px;
}
.bottom_modal .modal-dialog .modal-head h3 {
  font-size: 13px;
  color: #333333;
  text-align: center;
  margin-bottom: 0px;
}

.full_modal .modal-dialog {
  max-width: 480px;
  top: 0px;
  height: 100vh;
  margin: 0px auto;
}
.full_modal .modal-dialog .modal-content {
  border-radius: 0px;
  width: 100%;
  padding: 10px 25px 25px 25px;
  box-shadow: none;
  border: 0px;
  height: 100%;
}
.full_modal .modal-dialog .modal-content .modal_close {
  border: none;
  background: transparent;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 5px;
}
.full_modal .modal-dialog .modal-content .modal_close img {
  width: 40px;
}
.full_modal .modal-dialog .modal-content .modal-header {
  padding: 0px;
  border-bottom: 0px;
}
.full_modal .modal-dialog .modal-content .modal-body {
  padding: 0px;
  margin-top: 70px;
  flex: 1;
}

.right_side_modal .modal-dialog {
  max-width: 480px;
  margin: 0px 0px 0px auto;
  height: 100vh;
}
.right_side_modal .modal-dialog .modal-content {
  border-radius: 0px;
  width: 100%;
  padding: 0px 25px;
  box-shadow: none;
  border: 0px;
  height: 100%;
}
.right_side_modal .modal-dialog .modal-content .modal_close {
  border: none;
  background: transparent;
  margin-right: -10px;
}
.right_side_modal .modal-dialog .modal-content .modal_close img {
  width: 40px;
}
.right_side_modal .modal-dialog .modal-content .modal-header {
  padding: 6px 0px;
  border-bottom: 1px solid #E0E0E0;
  justify-content: space-between;
}
.right_side_modal .modal-dialog .modal-content .modal-body {
  padding: 25px 0px 80px 0px;
  flex: 1;
}
.right_side_modal .modal_fixed_footer {
  position: fixed;
  padding: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: flex-end;
  border-top: 0px;
}
.right_side_modal .modal_fixed_footer .fixed_footer_container {
  margin: 0px;
  max-width: 480px;
  width: 100%;
  padding: 15px 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
}

.cs_modal_close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  padding: 5px;
}
.cs_modal_close img {
  width: 16px;
}

.hanger {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding: 4px;
  width: 100%;
  text-align: center;
}
.hanger span {
  display: inline-block;
  width: 26px;
  height: 5px;
  border-radius: 20px;
  background: #333333;
}

.modal-backdrop.show {
  opacity: 0.8;
}

@media only screen and (max-width: 425px) {
  .custom_modal .modal-dialog {
    margin: 12px;
  }
  .custom_modal .modal-dialog .modal-content {
    padding: 28px 20px 24px 20px;
  }
}
@media only screen and (max-width: 360px) {
  .full_modal .modal-dialog .modal-content {
    padding: 10px 16px 20px 16px;
  }
  .right_side_modal .modal-dialog .modal-content {
    padding: 0px 16px;
  }
}
.mynumbers-comp .offcanvas {
  max-width: 500px;
  margin: 0 auto;
  top: 0px;
  height: 100%;
}
.mynumbers-comp .offcanvas-body {
  overflow-y: initial;
}
.mynumbers-comp .app_main_wrapper {
  margin: 0px !important;
  padding: 0px !important;
}

.switch-comp {
  font-size: 24px;
  /* Style Wired */
  /* Style Flat */
}
.switch-comp .switch input {
  display: none;
}
.switch-comp .switch {
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 5px 8px;
  transform: translateY(50%);
  position: relative;
}
.switch-comp span {
  font-family: "VodafoneRg-Bold", Arial, Helvetica, sans-serif;
}
.switch-comp .slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  background: #666666;
  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid transparent;
  overflow: hidden;
  transition: 0.4s;
}
.switch-comp .slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 30px;
  transform: translateX(-16px);
  transition: 0.4s;
}
.switch-comp input:checked + .slider:before {
  transform: translateX(16px);
  background: #FFFFFF;
  color: #FFFFFF !important;
}
.switch-comp input:checked + .slider {
  box-shadow: 0 0 0 2px #007C92, 0 0 2px #007C92;
  background: #007C92;
}
.switch-comp .switch.flat .slider {
  box-shadow: none;
}
.switch-comp .switch.flat .slider:before {
  background: #FFFFFF;
}
.switch-comp .switch.flat input:checked + .slider:before {
  background: #FFFFFF;
}
.switch-comp .switch.flat input:checked + .slider {
  background: #007C92;
}

@media (max-width: 768px) {
  .switch-comp {
    font-size: 16px;
  }
}
:root {
  --clr: #EBEBEB;
  --clrlg: #333333;
  --clrw: #ffffff;
}

.navigation {
  position: relative;
  width: 414px;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navigation ul {
  display: flex;
  width: 350px;
}

.navigation ul li {
  list-style: none;
  position: relative;
  width: 70px;
  height: 70px;
  z-index: 1;
  cursor: pointer;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-weight: 500;
  text-align: center;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clrlg);
}

.navigation ul li.active a .icon {
  transform: translateY(-35px);
  color: var(--clrw);
}

.navigation ul li a .text {
  position: absolute;
  font-size: 0.75em;
  font-weight: 400px;
  letter-spacing: 0.05em;
  transition: 0.5s;
  color: var(--clrlg);
  opacity: 0;
  transform: translateY(20px);
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  position: absolute;
  width: 70px;
  height: 70px;
  background: #ED1C24;
  top: -50%;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--clr);
}

.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(0px);
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(70px);
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(140px);
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(210px);
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(280px);
}/*# sourceMappingURL=custom.css.map */